/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * ParaBellumLudo implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * parabellumludo.css
 *
 * ParaBellumLudo stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (parabellumludo_parabellumludo.tpl), and to HTML elements you create dynamically
    (in parabellumludo.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/


/***** Map *****/

#board {
  position: relative;
  overflow: hidden;
  height: 80vh;

  margin: 10px auto;
  color: white;
  margin: auto;

/*
  background-image: url("img/bg-see.jpg");
  background-position: bottom center;
  background-size: cover;
*/
}
#map {
  position: relative;
}

#map-jpg {
/*
  width: 100%;
*/
}
.map-layer {
  position: absolute;
  top: 0;
/*
  width: 100%;
  height: 100%;
*/
  /*pointer-events: none;*/
}

#map-zoom {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 20;
  transform: translateY(-50%);
  margin: 0 10px;
}

#map-zoom > div {
  margin: 5px;
}

/**** Buttons ****/

.button_zoom_minus {
  width: 42px;
  height: 42px;
  background: url("img/css_sprites.png") -94px -2px;
}

.button_zoom_plus {
  width: 42px;
  height: 42px;
  background: url("img/css_sprites.png") -2px -2px;
}

.button_zoom_center {
  width: 42px;
  height: 42px;
  background: url("img/css_sprites.png") -48px -2px;
}

.button_pointer {
  cursor: pointer;
  border-radius: 12px;
  border: solid 3px #cccccc;
  transition: border-color 0.2s;
}

.button_pointer:hover {
  border-color: #800000;
}

/**** Cards ****/

.province_card_container {
    display: flex;
    flex-wrap: wrap;
}

.province_card_background {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 10em;
    height: 11em;
}

h4.province_card_name {
    background-color: mistyrose;
    padding: 4px 10px;
    margin: -10px;
}

/**** Tokens ****/
.token {
    width: 84px;
    height: 84px;
    background: url("img/css_sprites.png");
    position:absolute;
}

div.token-value {
    position: absolute;
    left: 43px;
    top: 7px;
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 28px;
}

